.reset_wrapper {
    padding: 20px 15px;
    max-width: 735px;
    width: 100%;
    margin: auto;
    height: 100vh;
}



.reset_sucess {
    max-width: 735px;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(max-width: 568px) {
    .reset_wrapper h2 {
        font-size: 18px !important;
    }

    .reset_wrapper label {
        font-size: 14px !important;
    }

    .reset_wrapper a {
        font-size: 12px !important;
    }
}